<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Visual Recognition</title>
</head>

<body>
  <h1> Results </h1>

  <p><b>Class:</b> <%= viewVariable1 %>
  </p>

  <p><b>Score:</b> <%= viewVariable2 %>
  </p>

  <p><b>Count:</b> <%= viewVariable3 %>
  </p> </br>


  <input type="button" onclick="location.href='/';" value="Home" />

</body>

</html>